.background {
    background-color: rgb(27, 28, 29);
    height: 75vh;
    padding: 10px;   
    border: 0px;
    margin: 0px; 
}

.center-content  {
    text-align:center;
    padding: 200px;
    border: 100px;    
}
.about{
    display: flexbox;
}
   
.lc{
    background-color: bisque;
    margin-left: 0px;
  }
  .rc{
      background-color: aqua;
      margin-left: 0px;
      
  } 
.title{
    color: aliceblue;
    padding-left: 27%;

}
.rounded mx-auto d-block {
    width: 50%;
    height: auto;
}

.center{
    text-align: center;
}

.footer{
    background-color: black;
}

.poet{
    text-align:center;
}
.songs{
    text-align: center;
}

.color{
}